@charset "utf-8";

/*
    1px  = 0.0833rem
    2px  = 0.1667rem
    3px  = 0.25rem
    4px  = 0.3333rem
    5px  = 0.4167rem
    6px  = 0.5rem
    7px  = 0.5833rem
    8px  = 0.6667rem
    9px  = 0.75rem
    10px = 0.8333rem
    11px = 0.9167rem
    12px = 1rem
    13px = 1.0833rem
    14px = 1.1667rem
    15px = 1.25rem
    16px = 1.3333rem
    17px = 1.4167rem
    18px = 1.5rem
    19px = 1.5833rem
    20px = 1.6667rem
    21px = 1.75rem
    22px = 1.8333rem
    23px = 1.9167rem
    24px = 2rem
    25px = 2.0833rem
    26px = 2.1667rem
    27px = 2.25rem
    28px = 2.3333rem
    29px = 2.4167rem
    30px = 2.5rem
    31px = 2.5833rem
    32px = 2.6667rem
    33px = 2.75rem
    34px = 2.8333rem
    35px = 2.9167rem
    36px = 3rem
    37px = 3.0833rem
    38px = 3.1667rem
    39px = 3.25rem
    40px = 3.3333rem
*/

:root { font-size: 12px;}
* { box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;letter-spacing: -0.025em;}

img { width: 100%;}

#wrap { display: flex; flex-direction: column; min-height: 100vh; background-color: #FFFFFF;}
#header { padding: 1rem 1.667rem; background-color: #562BD1;}
#header .menu-trigger,
#header .user-btn { width: 6.4%;}
#header #logo { width: 33.33%; margin: 0 auto;}
#header .sch-box { position: relative; width: 100%; height: 3.33rem; margin-top: 1.25rem; border: 2px solid #FFFFFF; border-radius: 1.65rem;}
#header .sch-box form { width: 100%; height: 100%;}
#header .sch-box input { width: 100%; height: 100%; font-size: 1.167rem; color: #FFFFFF; padding: 0 5rem 0 1.25rem; background: transparent; border: none; border-radius: 1.65rem; outline: none;}
#header .sch-box input::placeholder { color: #C1ACFF;}
#header .sch-box .sch-btn { position: absolute; top: .167rem; right: 1.25rem; width: 2.5rem; height: 2.5rem; background: url(../img/search-wh.png) no-repeat center; background-size: 100% 100%; border: none;}

#nav ul { display: flex; flex-wrap: wrap;}
#nav ul li { width: calc(100% / 6); border-left: 1px solid #562BD1; border-bottom: 1px solid #562BD1;}
#nav ul li:first-child,
#nav ul li:nth-child(7) { border-left: none;}
#nav ul li:nth-child(n+7) { border-bottom: none;}
#nav ul li a { display: flex; align-items: center; justify-content: center; position: relative; width: 100%; height: 3.917rem; font-size: 1.167rem; color: #C1ACFF; background: #32197B;}
#nav ul li:first-child a { color: #FDFF8C;}
#nav ul li a .star-icon { width: .712rem; height: .681rem; margin-bottom: 1rem;}
#nav ul li a .adult-icon { width: 1.083rem; height: 1.083rem; margin-right: .167rem; background: url(../img/adult-19.png) no-repeat center; background-size: 100% 100%;}
#nav ul li a.on { color: #FFFFFF;}
#nav ul li a.on::after { content: ""; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 0.25rem; background: #FFFFFF;}

#subNav { padding: 1.1667rem 0.6667rem; background: #F5F5F5;}
#subNav ul { display: flex; flex-wrap: wrap;}
#subNav ul li { width: 25%; margin-top: 0.8333rem;}
#subNav ul li:nth-child(-n+4) { margin-top: 0;}
#subNav ul li a { display: flex; align-items: center; justify-content: center; width: 100%; padding: 0.0833rem 0 0.25rem; font-size: 1.0833rem; font-weight: 500; line-height: 1.5833rem; color: #666666; border-radius: 1rem;}
#subNav ul li a.on { background: #6435E9; color: #FFFFFF;}
#subNav ul li a .adult-icon { width: 1.083rem; height: 1.083rem; margin-right: .167rem; background: url(../img/adult-19.png) no-repeat center; background-size: 100% 100%;}

#sideMenu { position: fixed; top: 0; left: -85.3%; display: flex; flex-direction: column; width: 85.3%; height: 100%; padding-top: 4.5rem; background: #FFFFFF; z-index: 10; transition: left .2s ease;}
.side-cover { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0); z-index: 9; transition: background .2s ease; pointer-events: none;}
body.open { overflow: hidden;}
body.open #sideMenu { left: 0;}
body.open .side-cover { background-color: rgba(0, 0, 0, 0.4); pointer-events: auto;}
#sideMenu .close-btn { position: absolute; top: 1.6667rem; left: 1.6667rem; width: 2rem; height: 2rem;}
#sideMenu .side-logo { width: 10.667rem; margin: 0 auto 1.6667rem;}
#sideMenu p.my-info-text { font-size: 1.3333rem; font-weight: 500; line-height: 1.9167rem; color: #404040; text-align: center;}
#sideMenu .btn-wrap { display: flex; justify-content: center; margin-top: 1.25rem; margin-bottom: 1.6667rem;}
#sideMenu .btn-wrap a { display: flex; align-items: center; justify-content: center; width: 42.5%; height: 3.75rem; font-size: 1.3333rem; font-weight: 500; color: #FFFFFF; border-radius: 1.917rem;}
#sideMenu .btn-wrap a.login-btn { background: #562BD1; margin-right: .6667rem;}
#sideMenu .btn-wrap a.join-btn { background: #32197B;}
#sideMenu .side-menu { padding: 0 1.6667rem;}
#sideMenu .side-menu li { width: 100%;}
#sideMenu .side-menu li a { display: flex; align-items: center; height: 4.167rem; font-size: 1.3333rem; color: #333333; border-bottom: 1px solid #E3E3E3;}
#sideMenu .side-menu li a:after { content: ""; width: 1.5rem; height: 1.5rem; margin-left: auto; background: url(../img/arrow-right-wh-s.png) no-repeat center; background-size: 100% 100%;}
#sideMenu .side-menu li:last-child a { border-bottom: none;}
#sideMenu .customer { padding: 25px 20px; margin-top: auto; background: #F5F5F5;}
#sideMenu .customer h3 { font-size: 1.1667rem; font-weight: 400; line-height: 1.6667rem; color: #202020;}
#sideMenu .customer p.tel { font-size: 2.5rem; font-weight: 700; line-height: 1; color: #00C2B6; margin: .4167rem 0 .8333rem;}
#sideMenu .customer p.info { font-size: 1.0833rem; line-height: 1.8333rem; color: #888888;}
#sideMenu .customer p.info strong { font-weight: 600; color: #666666;}

#footer { display: flex; flex-direction: column; align-items: center; margin-top: auto; padding: 2.5rem 1.6667rem 6.667rem; background: #333333;}
#footer .ft-menu { margin-bottom: 2.1667rem;}
#footer .ft-menu ul { display: flex; align-items: center; justify-content: center;}
#footer .ft-menu ul:first-child { margin-bottom: 0.5833rem;}
#footer .ft-menu ul li { display: flex; align-items: center; justify-content: center;}
#footer .ft-menu ul li a { font-size: 1.0833rem; line-height: 1.5833rem; color: #FFFFFF;}
#footer .ft-menu ul li:nth-child(2)::before,
#footer .ft-menu ul li:nth-child(2)::after { content: ""; width: 1px; height: 0.9167rem; margin: 0 0.75rem; background: #666666;}
#footer p.info { display: inline-flex; align-items: center; font-size: 1.0833rem; line-height: 1.6667rem; color: #D0D0D0; text-align: center; margin-bottom: 1.3333rem;}
#footer p.info i { width: 1.5rem; height: 1.5rem; margin-left: .5rem; background: url(../img/arrow-down-wh-s.png) no-repeat center; background-size: 100% 100%;}
#footer p.rule { font-size: 1rem; line-height: 1.6667rem; color: #888888; text-align: center; margin-bottom: 1.5rem;}
#footer .ft-logo { width: 25.333%;}

#botMenu { position: fixed; left: 0; bottom: 0; display: flex; align-items: center; justify-content: center; width: 100%; height: 4.167rem; background: #562BD1;}
#botMenu a { display: flex; align-items: center; font-size: 1.0833rem; font-weight: 500; color: #FFFFFF; line-height: 1.5833rem; margin-left: 7.4667%;}
#botMenu a:first-child { margin-left: 0;}
#botMenu a img { width: 2rem; height: 2rem; margin-right: .3333rem;}

.top-btn { position: fixed; right: 0.8333rem; bottom: 5rem; width: 3.3333rem; height: 3.3333rem;}

.topsch-box { position: relative;}
.topsch-box .real-time { display: flex; align-items: center; height: 3.833rem; padding: 0 8% 0 5.3%; background: #F5F5F5;}
.topsch-box .real-time p.tit { font-size: 1.1667rem; font-weight: 700; color: #6435E9; line-height: 1.6667rem; margin-right: 1rem;}
.topsch-box .item { flex: 1 0 auto; display: flex; align-items: center; font-size: 1.1667rem; color: #404040; line-height: 1.6667rem;}
.topsch-box .item::before { content:attr(data-num); display: flex; align-items: center; justify-content: center; width: 1.75rem; height: 1.75rem; margin-right: 0.6667rem; border-radius: 0.3333rem; font-size: 1.0833rem; font-weight: 700; color: #FFFFFF; background: #6435E9;}
.topsch-box span { margin-left: auto; color: #7348F0;}
.topsch-box span.stay { font-size: 1.3333rem; font-weight: 600; padding-right: 0.1667rem;}
.topsch-box span.down,
.topsch-box span.up { font-size: 1.1667rem; font-weight: 600; line-height: 1; padding-left: 1.3333rem;}
.topsch-box span.down { background: url(../img/ic_pop_down.png) no-repeat left center; background-size: 1rem; color: #9C79FF;}
.topsch-box span.up { background: url(../img/ic_pop_up.png) no-repeat left center; background-size: 1rem;}
.topsch-box .ranking-box { display: none; flex-wrap: wrap; position: absolute; top: 0; left: 0; width: 100%; padding-top: 1.0833rem; background: #F5F5F5;}
.topsch-box.open .ranking-box { display: flex; }
.topsch-box .ranking-box ul { width: 50%;}
.topsch-box .ranking-box ul:first-child { padding: 0 0.9167rem 2.0833rem 1.6667rem;}
.topsch-box .ranking-box ul:nth-child(2) { padding: 0 1.6667rem 2.0833rem 0.9167rem;}
.topsch-box .ranking-box ul li:not(:last-child) { margin-bottom: 1.6667rem;}
.topsch-box .ranking-box .ranking-close { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.167rem; font-size: 1.3333rem; font-weight: 700; color: #FFFFFF; background: #888888;}
.topsch-box .ranking-box .ranking-close i { width: 1.5rem; height: 1.5rem;}

.main-banner { width: 100%; overflow: hidden;}

/* title-area */
.contents .title-area { display: flex; align-items: center; padding: 1.25rem 1.6667rem 0;}
.contents .title-area h2 { font-size: 1.5rem; font-weight: 700; line-height: 2.1667rem; color: #202020;}
.contents .title-area .filter-check input { display: none;}
.contents .title-area .filter-check label { display: flex; align-items: center; justify-content: center; border: 1px solid #D0D0D0; border-radius: 0.1667rem; padding: 0.6667rem 1rem; font-size: 1.1667rem; line-height: 1.6667rem; color: #404040; cursor: pointer;}
.contents .title-area .filter-check label i.icon { width: 1.6667rem; height: 1.4167rem; background: url(../img/ic_filter_check.png) no-repeat center; margin-right: 0.25rem;}
.contents .title-area .filter-check input:checked + label { border-color: #562BD1; color: #562BD1;}
.contents .title-area .filter-check input:checked + label i.icon { background: url(../img/ic_filter_check_on.png) no-repeat center;}
.contents .title-area .type-check { display: flex; align-items: center; margin-left: auto;}
.contents .title-area .type-check input { display: none;}
.contents .title-area .type-check label { width: 3rem; height: 3rem; cursor: pointer;}
.contents .title-area .type-check label.list { background: url(../img/ic_list_off.png) no-repeat center; background-size: 100%;}
.contents .title-area .type-check label.gallery { background: url(../img/ic_gallery_off.png) no-repeat center; background-size: 100%;}
.contents .title-area .type-check input:checked + label.list { background: url(../img/ic_list_on.png) no-repeat center; background-size: 100%;}
.contents .title-area .type-check input:checked + label.gallery { background: url(../img/ic_gallery_on.png) no-repeat center; background-size: 100%;}

/* list */
.contents .lists-box { padding-bottom: 4.167rem;}
.contents .lists-box ul.lists { display: flex; flex-direction: column;}
.contents .lists-box ul.lists li a { display: flex; align-items: center; height: 7.833rem; padding: 0.8333rem 1.6667rem; border-bottom: 1px solid #F5F5F5;}
.contents .lists-box ul.lists li .img { position: relative; flex: 0 0 32%; height: 6.167rem; border-radius: 0.4167rem; overflow: hidden;}
.contents .lists-box ul.lists li .img img { width: 100%; height: 100%;}
.contents .lists-box ul.lists li .img .adult-box { position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; background: url(../img/list-adult-text.png) no-repeat center rgba(86, 43, 209, .9); background-size: 19%;}
.contents .lists-box ul.lists li .info { display: flex; flex-direction: column; width: 68%; height: 100%; padding-left: 1rem;}
.contents .lists-box ul.lists li .title { display: flex; align-items: center; font-size: 1.0833rem; font-weight: 500; color: #404040;}
.contents .lists-box ul.lists li .title p { display: -webkit-box; overflow: hidden; text-overflow: ellipsis;word-wrap:break-word; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.contents .lists-box ul.lists li .title .icon-adult { display: none; width: 1.0833rem; height: 1.0833rem; vertical-align: middle; background: url(../img/adult-19.png) no-repeat center; background-size: 100%; margin-right: .5rem;}
.contents .lists-box ul.lists li .etc { display: flex; align-items: center; margin-top: auto; padding-bottom: .3333rem;}
.contents .lists-box ul.lists li .cate { font-size: 1rem; line-height: 1.4167rem; color: #ABABAB;}
.contents .lists-box ul.lists li .point { font-size: 1rem; line-height: 1.4167rem; color: #7348F0; margin-left: auto;}
.contents .lists-box .more-btn { display: flex; align-items: center; justify-content: center; margin: 2.0833rem auto 0; width: 25%; height: 3.3333rem; font-size: 1.1667rem; font-weight: 500; color: #404040; background: #F5F5F5; border-radius: 1.6667rem;}
.contents .lists-box .more-btn i { margin-left: 0.4167rem; width: 1rem; height: 1rem; background: url(../img/more-plus.png) no-repeat center; background-size: 100%;}

.contents .lists-box.gallery-type ul.lists { flex-wrap: wrap; flex-direction: row; padding: 0 1.6667rem;}
.contents .lists-box.gallery-type ul.lists li { position: relative;  border: none; width: calc((100% - 0.8333rem) / 2); margin: 2.0833rem 0.8333rem 0 0;}
.contents .lists-box.gallery-type ul.lists li:nth-child(2n) { margin-right: 0;}
.contents .lists-box.gallery-type ul.lists li:nth-child(1),
.contents .lists-box.gallery-type ul.lists li:nth-child(2) { margin-top: 0.8333rem;}
.contents .lists-box.gallery-type ul.lists li a { flex-direction: column; height: auto; border: none; padding: 0;}
.contents .lists-box.gallery-type ul.lists li .info { width: 100%; height: 5.833rem; padding: 0;}
.contents .lists-box.gallery-type ul.lists li .img { flex: 0 0 auto; width: 100%; height: 8.333rem; border-radius: 0.4167rem;}
.contents .lists-box.gallery-type ul.lists li .img .adult-box { background-image: url(../img/gallery-adult-text.png);}
.contents .lists-box.gallery-type ul.lists li .title { width: 100%; margin: 0.8333rem 0 0.4167rem;}
.contents .lists-box.gallery-type ul.lists li .title p { -webkit-line-clamp:2;}
.contents .lists-box.gallery-type ul.lists li .etc { margin-top: 0; padding-bottom: 0;}

.contents .lists-box ul.lists li.adult .adult-box { display: block;}
.contents .lists-box ul.lists li.adult .icon-adult { display: inline-block;}

/* tab-menu */
.tab-menu ul { display: flex; align-items: center; width: 100%;}
.tab-menu ul li a { display: flex; align-items: center; justify-content: center; position: relative; height: 3.917rem; background: #32197B; font-size: 1.1667rem; font-weight: 700; line-height: 1.6667rem; color: #C1ACFF; cursor: pointer;}
.tab-menu ul li a.on { color: #562BD1; background: #FFFFFF;}

/* btn */
.btn-primary { background: #562BD1; color: #FFFFFF;}

/* inuut */
input { font-size: 1.1667rem; font-weight: 400; color: #404040; line-height: 1.6667rem; background: #FFFFFF; border: 1px solid #E3E3E3; border-radius: 0.3333rem; outline: none;}
input:focus { border-color: #404040;}
input:disabled { background: #F5F5F5; color: #A8A8A8;}
input::placeholder { color: #A8A8A8;}

/* checkbox */
.checkbox label { position: relative; display: block; font-size: 1.1667rem; line-height: 1.6667rem; color: #404040; padding-left: 2.5rem; cursor: pointer;}
.checkbox label::before { content: ""; position: absolute; top: 0; left: 0; display: block; width: 1.6667rem; height: 1.6667rem; background: url(../img/check.png) no-repeat center; background-size: 100%; border-radius: 3px;}
.checkbox input[type="checkbox"] { display: none;}
.checkbox input[type="checkbox"]:checked + label::before { background: url(../img/check-on.png) no-repeat center; background-size: 100%;}
