@charset "utf-8";

#subHeader { display: flex; align-items: center; justify-content: center; position: relative; padding: 1.25rem 1.9167rem; background-color: #562BD1;}
#subHeader h2 { font-size: 1.3333rem; font-weight: 700; line-height: 1.9167rem; color: #FFFFFF;}
#subHeader .back-btn { position: absolute; top: auto; bottom: auto; left: 1.9167rem; display: block; width: 2rem; height: 2rem; background: url(../img/arrow-left-wh.png) no-repeat center; background-size: 100%;}

#subHeader.white { display: flex; align-items: center; justify-content: center; position: relative; padding: 1.25rem 1.9167rem; background-color: #FFFFFF;}
#subHeader.white.scroll { position: fixed; top: 0; width: 100%; border-bottom: 1px solid #F5F5F5;}
#subHeader.white h2 { font-size: 1.3333rem; font-weight: 700; line-height: 1.9167rem; color: #202020;}
#subHeader.white .back-btn { position: absolute; top: auto; bottom: auto; left: 1.9167rem; display: block; width: 2rem; height: 2rem; background: url(../img/arrow-left-bl.png) no-repeat center; background-size: 100%;}

#container.user .tab-menu li { width: 50%;}

/* 로그인 */
.login-box { display: flex; flex-direction: column; align-items: center; padding: 2.5rem 1.6667rem;}
.login-box .input-box { position: relative; width: 100%; height: 4.167rem;}
.login-box .input-box input { width: 100%; height: 100%; padding: 0 1.6667rem; border: 1px solid #D0D0D0; border-radius: 2.0833rem; outline: none;}
.login-box .btn-primary { width: 100%; height: 4.167rem; font-size: 1.1667rem; font-weight: 400; line-height: 1.6667rem; border: none; border-radius: 2.0833rem; outline: none;}
.login-box .util { display: flex; align-items: center; width: 100%; margin-top: 1.25rem;}
.login-box .util .find-link { font-size: 1.1667rem; line-height: 1.6667rem; color: #404040; margin-left: auto;}
.login-box .dividing { display: block; width: 100%; height: 1px; background: #E3E3E3; margin: 3.3333rem 0 2.9167rem; border: none;}
.login-box .sns-info-text { font-size: 1.1667rem; line-height: 1.6667rem; color: #888888; text-align: center;}
.login-box .sns-link { display: flex; align-items: center; justify-content: center; margin: 2.0833rem 0 3.3333rem;}
.login-box .sns-link a { width: 5rem; height: 5rem;}
.login-box .join-link { position: relative; font-size: 1.1667rem; font-weight: 700; line-height: 1.6667rem; color: #6435E9;}
.login-box .join-link::after { content: ""; position: absolute; top: calc(100% + 0.3333rem); left: 0; display: block; width: 100%; height: 1px; background: #7348F0;}

/* 회원가입 */
.join-box { display: flex; flex-direction: column; align-items: center; padding: 2.5rem 1.6667rem;}
.join-box .input-box { position: relative; width: 100%; height: 4.167rem;}
.join-box .input-box input { width: 100%; height: 100%; padding: 0 1.6667rem; border: 1px solid #D0D0D0; border-radius: 2.0833rem; outline: none;}
.join-box .btn-primary { width: 100%; height: 4.167rem; font-size: 1.1667rem; font-weight: 400; line-height: 1.6667rem; border: none; border-radius: 2.0833rem; outline: none;}
.join-box .sns-box { margin: 3.3333rem 0;}
.join-box .sns-box p { font-size: 1.1667rem; line-height: 1.6667rem; color: #888888; text-align: center;}
.join-box .sns-box p strong { display: block; font-size: 1.3333rem; line-height: 1.9167rem; color: #333333; margin-bottom: 0.6667rem;}
.join-box .sns-link { display: flex; align-items: center; justify-content: center; margin: 2.0833rem 0 3.3333rem;}
.join-box .sns-link a { width: 5rem; height: 5rem;}
.join-box .checkbox label { font-weight: 500; color: #333333;}
.join-box .agree-boxs { display: flex; align-items: center; justify-content: space-between; width: 100%;}
.join-box .agree-boxs a { display: flex; align-items: center; justify-content: center; width: calc(50% - 2.5px); height: 3.667rem; font-size: 1.1667rem; line-height: 1.6667rem; color: #666666; border: 1px solid #E3E3E3; border-radius: 0.3333rem;}

/* 아이디/비밀번호 찾기 */
.find-box { display: flex; flex-direction: column; align-items: center; padding: 2.5rem 0;}
.find-box [data-tabCon] { display: none;}
.find-box [data-tabCon].on { display: block;}
.find-box .sub-tab { display: flex; flex-direction: column; width: 100%; margin-bottom: 2.5rem; padding: 0 1.6667rem;}
.find-box .sub-tab li a { display: flex; align-items: center; justify-content: center; width: 100%; height: 3.75rem; font-size: 1.1667rem; font-weight: 500; line-height: 1.6667rem; color: #888888; background: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 0.3333rem;}
.find-box .sub-tab li a.on { color: #6435E9; background: #FFFFFF; border-color: #6435E9;}
.find-box .sub-tab li:not(:first-child) { margin-top: 0.6667rem;}
.find-box .sub-tab-con { width: 100%;}
.find-box .radio-boxs { display: flex; align-items: center; padding: 0 1.6667rem;}
.find-box .radio { display: inline-flex;}
.find-box .radio input { display: none;}
.find-box .radio label { display: flex; align-items: center; font-size: 1.1667rem; line-height: 1.6667rem; color: #333333; cursor: pointer;}
.find-box .radio label i { display: flex; align-items: center; justify-content: center; width: 1.6667rem; height: 1.6667rem; border: 1px solid #D0D0D0; border-radius: 50%; margin-right: 0.6667rem;}
.find-box .radio input:checked + label i { border-color: #562BD1;}
.find-box .radio input:checked + label i::after { content: ""; width: 1.1667rem; height: 1.1667rem; background: #562BD1; border-radius: 50%;}
.find-box .form-box { margin: 2.0833rem 0 1.25rem; padding: 1.6667rem 1.6667rem 1.4167rem; background: #F5F5F5; }
.find-box .form-box p { font-size: 1.1667rem; color: #202020; line-height: 1.6667rem; margin-bottom: 0.6667rem;}
.find-box .form-box .input-box { width: 100%; height: 3.75rem; }
.find-box .form-box .input-box input { width: 100%; height: 100%; padding: 0 1.25rem;}
.find-box .form-box select { width: 21.12%; height: 3.75rem; font-size: 1.1667rem; line-height: 1.6667rem; color: #404040; padding: 0 1.25rem; border: 1px solid #E3E3E3; background: url(../img/arrow-down-bl-s.png) no-repeat calc(100% - 12px) center #FFFFFF; background-size: 1.5rem 1.5rem; border-radius: 0.3333rem; outline: none; appearance:none;}
.find-box .form-box select#year { width: 28.36%;}
.find-box .info-box { padding: 0 1.6667rem;}
.find-box .info-box p.info { font-size: 1.0833rem; line-height: 1.5833rem; color: #888888; margin-top: 15px;}
.find-box .info-box p.info strong { font-weight: 400; color: #404040;}
.find-box .info-box button[type="submit"] { display: block; width: 100%; height: 4.167rem; font-size: 1.3333rem; font-weight: 700; color: #FFFFFF; background: #202020; border: none; border-radius: 2.0833rem; margin: 2.5rem auto 0; outline: none;}
.find-box #nameTab { display: none;}
.find-box .find-complete { width: 100%; padding: 1.667rem;}
.find-box .find-complete .comple-tit { font-size: 1.3333rem; font-weight: 500; line-height: 1.9167rem; color: #202020; text-align: center; margin-bottom: 2.5rem;}
.find-box .find-complete .comple-box { padding: 2.0833rem; background: #F5F5F5; border-radius: 0.6667rem; text-align: center; margin-bottom: 1.25rem;}
.find-box.find-id .find-complete .comple-box p { font-size: 1.3333rem; line-height: 1.9167rem; color: #333333;}
.find-box.find-pw .find-complete .comple-box p { font-size: 1.1667rem; line-height: 1.6667rem; color: #333333;}
.find-box .find-complete .comple-box p strong { font-weight: 600; color: #562BD1; text-decoration: underline;}
.find-box .find-complete .comple-box p b { font-weight: 500; color: #202020;}
.find-box .find-complete .comple-box p span { display: inline-block; font-weight: 600; margin-top: 1.25rem; color: #562BD1;}
.find-box .find-complete a { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.167rem; font-size: 1.3333rem; font-weight: 700; color: #FFFFFF; background: #202020; border: none; border-radius: 2.0833rem; margin: 2.5rem auto 0; outline: none;}

/* 상세 */
#viewHeader .subject { padding: 1.4167rem 1.6667rem; background: #562BD1;}
#viewHeader .subject h2 { font-size: 1.3333rem; font-weight: 500; line-height: 1.9167rem; color: #FFFFFF;}
#viewHeader .view-btn { display: none; align-items: center; justify-content: center; width: 100%; padding: 0.9167rem 0; font-size: 1.3333rem; font-weight: 700; line-height: 1.9167rem; color: #FFFFFF; background: #00C2B6;}
#viewHeader .view-btn i { width: 1rem; height: 1rem; margin-left: 0.4167rem; background: url(../img/ico-view-arrow.png) no-repeat center; background-size: 100%;}
#viewHeader.show .view-btn { display: flex;}
#wrap.scroll { padding-top: 9.167rem;}
#wrap.scroll #subHeader { display: none;}
#wrap.scroll #viewHeader { position: fixed; top: 0; width: 100%; z-index: 10;}
#wrap.scroll #viewHeader .subject h2 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#container.view { padding-bottom: 4.167rem;}
#container.view .view-table { margin-bottom: 1.6667rem; padding: 0.8333rem 1.6667rem; border-bottom: 1px solid #E3E3E3;}
#container.view .view-table table { width: 100%;}
#container.view .view-table table th,
#container.view .view-table table td { height: 2.4167rem; font-size: 1.0833rem; line-height: 1.5833rem; color: #666666; text-align: left; vertical-align: middle;}
#container.view .view-table table td span { color: #A8A8A8; text-decoration: line-through;}
#container.view .view-table table td strong { font-weight: 500; color: #562BD1;}
#container.view .view-table table td .down-score { position: relative; display: inline-block; width: 4.833rem; height: 0.8333rem; margin-left: 0.4167rem; background: url(../img/star-score.png) no-repeat left bottom; background-size: 4.833rem 1.6667rem;}
#container.view .view-table table td .down-score div { position: absolute; top: 0; left: 0; height: 0.8333rem; background: url(../img/star-score.png) no-repeat left top; background-size: 4.833rem 1.6667rem;}
#container.view .btn-wrap { display: flex; align-items: center; justify-content: center; margin-bottom: 1.6667rem;}
#container.view .btn-wrap a { display: flex; align-items: center; justify-content: center; height: 3.75rem; font-size: 1.3333rem; font-weight: 700; color: #FFFFFF; border-radius: 1.9167rem;}
#container.view .btn-wrap .view-btn { width: 40.8%; background: #00C2B6;}
#container.view .btn-wrap .view-btn i { width: 1rem; height: 1rem; margin-left: 0.4167rem; background: url(../img/ico-view-arrow.png) no-repeat center; background-size: 100%;}
#container.view .btn-wrap .coupon-btn { width: 31.46%; background: #A8A8A8; margin-left: 0.8333rem;}
#container.view .file-box { padding: 1.6667rem; background: #F5F5F5;}
#container.view .file-box p.title { font-size: 1.0833rem; font-weight: 500; line-height: 1.5833rem; color: #404040; margin-bottom: 0.4167rem;}
#container.view .file-box ul { height: 6.25rem; margin-bottom: 1.5rem; overflow: hidden;}
#container.view .file-box.open ul { height: auto;}
#container.view .file-box ul li { font-size: 1.0833rem; line-height: 2.0833rem;}
#container.view .file-box .arrow-btn { display: block; margin: 0 auto; width: 1.5rem; height: 0.75rem; background: url(../img/-bt_more.png) no-repeat center; background-size: 100%;}
#container.view .file-box.open .arrow-btn { transform: rotate(180deg);}
#container.view .contents-box { padding: 3.3333rem 1.6667rem; border-bottom: 0.8333rem solid #F5F5F5;}
#container.view .contents-box h3.title { font-size: 1.5rem; font-weight: 700; line-height: 2.1667rem; color: #202020; margin-bottom: 2.0833rem;}
#container.view .diff-box { padding: 2.5rem 0 3.3333rem; border-bottom: 0.8333rem solid #F5F5F5;}
#container.view .diff-box h3.title { font-size: 1.5rem; font-weight: 700; line-height: 2.1667rem; color: #202020; margin-bottom: 1.6667rem; padding-left: 1.6667rem;}
#container.view .diff-box  .list-cate { display: flex; align-items: center; flex-wrap: wrap; margin-bottom: .8333rem; padding: 0 1.6667rem;}
#container.view .diff-box  .list-cate a { display: block; padding: 0.6667rem 1rem; font-size: 1.0833rem; font-weight: 500; line-height: 1.5833rem; color: #888888; border: 1px solid #E3E3E3; border-radius: .3333rem;}
#container.view .diff-box  .list-cate a.on { border-color: #562BD1; color: #562BD1;}
#container.view .comment-box { padding: 2.5rem 1.6667rem 3.3333rem; border-bottom: 0.8333rem solid #F5F5F5;}
#container.view .comment-box h3.title { display: flex; font-size: 1.5rem; font-weight: 700; line-height: 2.1667rem; color: #202020; margin-bottom: 0.4167rem; padding-left: 1.6667rem;}
#container.view .comment-box .info { font-size: 1.1667rem; font-weight: 500; line-height: 1.6667rem; color: #562BD1; margin-left: 0.6667rem;}
#container.view .comment-box .score-box { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 1.6667rem;}
#container.view .comment-box .score-box p { font-size: 1.3333rem; font-weight: 500; line-height: 1.9167rem; color: #404040; margin-bottom: 1rem;}
#container.view .comment-box .score-box .blind { position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: none; clip: rect(0, 0, 0, 0);}
#container.view .comment-box .score-box .score { display: flex; position: relative; width: 19rem; height: 3.833rem; overflow: hidden; background-color: #D0D0D0;}
#container.view .comment-box .score-box .score:after { content: ""; display: block; position: absolute; left: 0; width: 100%; height: 3.833rem; background: url(../img/star_none.png) repeat-x left center; background-size: 20% 100%; z-index: 1; pointer-events: none;}
#container.view .comment-box .score-box .score .score-label { position: relative; width: 1.9167rem; height: 3.833rem; z-index: 1; cursor: pointer;}
#container.view .comment-box .score-box .score .score-label input { position: absolute; width: 0; height: 0; opacity: 0;}
#container.view .comment-box .score-box .score .score-label .score-img { display: block; position: absolute; right: 0; width: 19rem; height: 3.833rem; pointer-events: none;}
#container.view .comment-box .score-box .score .score-label input:checked + .score-img { background: #6435E9;}
#container.view .comment-box .create-box { display: flex; width: 100%; height: 7.5rem; margin-bottom: 1.6667rem; border: 1px solid #E3E3E3; border-radius: 0.6667rem; overflow: hidden;}
#container.view .comment-box .create-box textarea { width: 76%; height: 100%; font-size: 1.1667rem; font-weight: 400; color: #333333; line-height: 1.6667rem; padding: 1.25rem; border: none; outline: none; resize: none;}
#container.view .comment-box .create-box textarea::placeholder { color: #A8A8A8;}
#container.view .comment-box .create-box input { width: 24%; height: 100%; font-size: 1.3333rem; font-weight: 700; color: #FFFFFF; text-align: center; background: #00C2B6; border: none; outline: none; cursor: pointer;}
#container.view .comment-box table { width: 100%; table-layout: fixed;}
#container.view .comment-box table td { height: 6.25rem; font-size: 1.1667rem; line-height: 1.6667rem; color: #666666; text-align: left; padding: 1.25rem 0; border-bottom: 1px solid #E3E3E3; vertical-align: top;}
#container.view .comment-box table td strong { font-weight: 700; color: #404040; margin-bottom: 0.4167rem;}
#container.view .comment-box table td .down-score { position: relative; display: inline-block; width: 6rem; height: 1rem; background: url(../img/star-score.png) no-repeat left bottom; background-size: 6rem 2rem;}
#container.view .comment-box table td .down-score div { position: absolute; top: 0; left: 0; height: 1rem; background: url(../img/star-score.png) no-repeat left top; background-size: 6rem 2rem;}
#container.view .data-box { padding: 2.5rem 0 3.3333rem;}
#container.view .data-box h3.title { display: flex; font-size: 1.5rem; font-weight: 700; line-height: 2.1667rem; color: #202020; margin-bottom: 0.4167rem; padding-left: 1.6667rem;}

/* 이벤트 */
#container.event .tab-menu ul li { width: 50%;}
#container.event .tab-menu ul li a { height: 3.917rem;}
#container.event .event-list { display: flex; flex-direction: column; padding: 2.5rem 1.6667rem 5rem;}
#container.event .event-list li { width: 100%; margin-bottom: 2.5rem;}
#container.event .event-list li:last-child { margin-bottom: 0;}
#container.event .event-list li .img { width: 100%; height: 12.5rem; margin-bottom: 1.25rem;}
#container.event .event-list li .img img { width: 100%; height: 100%;}
#container.event .event-list li .tit { font-size: 1.3333rem; font-weight: 700; line-height: 1.9167rem; color: #202020; margin-bottom: 0.75rem;}
#container.event .event-list li .con,
#container.event .event-list li .period { font-size: 1.1667rem; line-height: 1.6667rem;}
#container.event .event-list li .con { color: #404040; margin-bottom: 0.3333rem;}
#container.event .event-list li .period { color: #888888;}

/* 출석체크 */
#container.attendance .attendance-box .img-box { position: relative;}
#container.attendance .attendance-box .img-box p.day { position: absolute; top: 34.17%; right: 30.93%; font-size: 4.8vw; font-weight: 700; line-height: 1.4; color: #6435E9;}
#container.attendance .attendance-box .img-box .btn { position: absolute; top: 53.58%; left: 1.6667rem; display: flex; align-items: center; justify-content: center; width: calc(100% - 3.3333rem); height: 12.658%; font-size: 4.2194vw; font-weight: 700; color: #FFFFFF; background: #5E5BF9; border-radius: 10rem;}
#container.attendance .attendance-box .calender-box { width: 100%; background: #FFFFFF; padding-top: 1.0833rem;}
#container.attendance .attendance-box .calender-box .month-box { display: flex; align-items: center; justify-content: center; height: 3.833rem;}
#container.attendance .attendance-box .calender-box .month-box p { font-size: 1.667rem; font-weight: 700; color: #5E5BF9; margin: 0 3.3333rem;}
#container.attendance .attendance-box .calender-box .month-box a { width: 2.6667rem; height: 2.6667rem;}
#container.attendance .attendance-box .calender-box .calender { width: 100%;}
#container.attendance .attendance-box .calender-box .calender table { width: 100%;}
#container.attendance .attendance-box .calender-box .calender table th { height: 3.75rem; font-size: 1.0833rem; font-weight: 500; line-height: 1.5833rem; color: #333333; vertical-align: middle;}
#container.attendance .attendance-box .calender-box .calender table td { height: 4.167rem; font-size: 1.0833rem; line-height: 2.0833rem; color: #333333; text-align: center; vertical-align: middle; border: 1px solid #E3E3E3;}
#container.attendance .attendance-box .calender-box .calender table td.check { background: url(../img/attendance-check.png) no-repeat center; background-size: cover; font-size: 0;}
#container.attendance .notice { padding: 2.5rem 1.6667rem; background: #F5F5F5;}
#container.attendance .notice p { font-size: 1.0833rem; line-height: 1.9167rem; color: #666666; word-break: keep-all;}
#container.attendance .notice p strong { display: block; font-size: 1.1667rem; font-weight: 700; line-height: 1.6667rem; color: #333333; margin-bottom: 0.8333rem;}


/* 쿠폰등록 */
#container.coupon .coupon-box { position: relative;}
#container.coupon .coupon-box .input-box { position: absolute; top: 89.147%; left: 5.33%; width: 89.33%; height: 6.387%; background: #FFFFFF; border: 0.25rem solid #4048D5; border-radius: 1rem;}
#container.coupon .coupon-box .input-box input { width: 100%; height: 100%; padding: 0 23.88% 0 7.46%; font-size: 1.3333rem; font-weight: 700; color: #404040; line-height: 1.9167rem; border: none; border-radius: 1rem; outline: none;}
#container.coupon .coupon-box .input-box button { position: absolute; top: -0.25rem; right: -0.25rem; width: 23.88%; height: calc(100% + 0.5rem); font-size: 1.3333rem; font-weight: 700; line-height: 1.9167rem; color: #FFFFFF; background: #4048D5; border: none; border-radius: 0 1rem 1rem 0; outline: none;}
#container.coupon .notice { padding: 2.5rem 1.6667rem; background: #132F5D;}
#container.coupon .notice p { font-size: 1.0833rem; line-height: 1.9167rem; color: #AAB4C5; word-break: keep-all;}
#container.coupon .notice p strong { display: block; font-size: 1.1667rem; font-weight: 700; line-height: 1.6667rem; color: #FFFFFF; margin-bottom: 0.8333rem;}



#container.agree { padding: 1.6667rem 1.6667rem 2.0833rem;}
#container.agree p { font-size: 1.1667rem; line-height: 1.8333rem; color: #404040;}